.galeriaImg{

    &__texto{
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: white;
        font-size: 1.1rem;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    &__contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__img{
        width: 38vw;
        margin-bottom: 5vh;
    }
}
